#vtt-timekeeper > section {
    color: white;
    background: rgba(1, 1, 1, 0.65);
    overflow: hidden;
}

#vtt-timekeeper > section > li > div:nth-child(1) > img {
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.smallButton {
  font-size: large;
  max-width: 40px;
  height: 32px;
  background: none !important;
  border: none !important;
}

.indicator {
    position: absolute;
    left: 319px;
    text-shadow: black 1px 1px 1px;
    z-index: 10000;
    font-size: xx-large;
}

.pause-resume {
    position: absolute;
    z-index: 10000;
    top: 244px;
    left: 167px;
    height: 128px;
    width: 128px;
    background: url('/modules/vtt-timekeeper/images/pause-resume.png') 0 0 no-repeat;
    background-size: contain;

}

.circle {
    overflow:hidden;
    position: relative;
    margin: 20px;
    width: 600px; 
    height: 600px;
    border-radius: 50%;
    list-style: none; 
    transition: rotation 0.1s ease-in-out 0.1s;
    background: url('https://i.imgur.com/v2l3Sda.png') 0 0 no-repeat;
}
.circle > li {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0% 100%;
    border: 0.5px solid rgba(255, 255, 255, 0.25);

  }
  .circle > li > .text {
    font-size: 12px;
    background-color: rgba(1, 1, 1, 0.65);
    border-radius: 6px;
    font-weight: bold;
    position: absolute;
    left: -100%;
    width: 200%;
    height: 200%;
    text-align: center;
    transform: skewY(60deg) rotate(15deg);
    padding-top: 20px;
  }

  .circle > li > .text:hover {
  }

  /* Past */
  .circle > li > div.text.past {
    color:rgba(255, 255, 255, 0.55);
    background: rgba(0, 0, 0, 0.15) !important;
  }

  .circle > li > div.text.past:hover {
  }

  /* Future */
  .circle > li > div.text.future {
    color:white;
    background: rgba(255, 255, 255, 0.15) !important;
  }

  .circle > li > div.text.future:hover {
    color: white;
    text-decoration: underline;
    cursor: "➡️";
    background: rgba(179, 240, 255, 0.15) !important;
  }

  /* Now */
  .circle > li > div.text.now {
    color:rgb(255, 255, 255);
    background: rgba(179, 240, 255, 0.15) !important;
  }

  .circle > li > div.text.now:hover {
    color: white;
    background: rgba(179, 240, 255, 0.15) !important;
  }

  /* Tomorrow */
  .circle > li > div.text.tomorrow {
    color:rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.15) !important;
  }

  .circle > li > div.text.tomorrow:hover {
    color: white;
    background: rgba(179, 240, 255, 0.5) !important;
  }

  .circle > li > div.text:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.356);
    text-shadow: none !important;
  }
  .circle > li:first-child {
    transform: rotate(0deg) skewY(-60deg);
  }
  .circle > li:nth-child(2) {
    transform: rotate(30deg) skewY(-60deg);
  }
  .circle > li:nth-child(3) {
    transform: rotate(60deg) skewY(-60deg);
  }
  .circle > li:nth-child(4) {
    transform: rotate(90deg) skewY(-60deg);
  }
  .circle > li:nth-child(5) {
    transform: rotate(120deg) skewY(-60deg);
  }
  .circle > li:nth-child(6) {
    transform: rotate(150deg) skewY(-60deg);
  }
  .circle > li:nth-child(7) {
    transform: rotate(180deg) skewY(-60deg);
  }
  .circle > li:nth-child(8) {
    transform: rotate(210deg) skewY(-60deg);
  }
  .circle > li:nth-child(9) {
    transform: rotate(240deg) skewY(-60deg);
  }
  .circle > li:nth-child(10) {
    transform: rotate(270deg) skewY(-60deg);
  }
  .circle > li:nth-child(11) {
    transform: rotate(300deg) skewY(-60deg);
  }
  .circle > li:nth-child(12) {
    transform: rotate(330deg) skewY(-60deg);
  }